/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	height: 58px !important;
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
	/*width: 200% !important;*/
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: url('../images/pager-nav/slice-bg.png') repeat-x;
	height: 20px;
	position: relative;
}

.jspDrag {
	background: url('../images/pager-nav/slicer.png') no-repeat;
	height: 20px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
}

.jspArrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrowLeft {
	background: url('../images/pager-nav/left.png') no-repeat;
	width: 23px;
	height: 20px;
}

.jspArrowRight {
	background: url('../images/pager-nav/right.png') no-repeat;
	width: 23px;
	height: 20px;
}

.jspArrowLeft.jspDisabled {
	background: url('../images/pager-nav/left-dis.png') no-repeat;
	cursor: default;
}

.jspArrowRight.jspDisabled {
	background: url('../images/pager-nav/right-dis.png') no-repeat;
	cursor: default;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 23px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}